@import "tailwindcss";

.bg-primary {
  background-color: var(--color-yellow-100);
}

.text-color-primary {
  color: var(--color-gray-800);
}

.text-color-price {
  color: var(--color-green-500);
  font-style: italic;
}

@layer utilities {
  .center-row {
    @apply flex flex-row justify-center items-center text-center;
  }

  .center-col {
    @apply flex flex-col justify-center items-center text-center;
  }
}

@layer components {
  .button {
    @apply rounded-lg shadow-md p-2;
  }
}
